teiHeader  {
	display: none;
}

head  {
	display: none;
}

l {
	font-size: 30px;
	font-family: Garamond, serif;
	font-style: oblique;
	line-height: 0;
	text-align: left;
	display: list-item;
}

lg  {
	white-space: pre;
}

